{% extends 'theme-admin.html' %}
{% block title %} Home {% endblock %}
{% block body_content %}

<div class="row mt-3">
             <!-- Pending Requests Card Example -->
            <div class="col col-lg">
              <a href="/student">
                <div class="card">
                    <br/>
                    <div align="center">
                        <i class="fas fa-fw fa-search fa-6x"></i>
                    </div>
                    <br/>
                  <div class="card-img-overlay">
                  </div>
                  <span class="btn btn-block badge badge-secondary text-uppercase">Ajax Search</span>
                </div>
              </a>
            </div> 

            <!-- Pending Requests Card Example -->
            <div class="col col-lg">
              <a href="/student/list">
                <div class="card">
                  <br/>
                  <div align="center">
                      <i class="fas fa-table fa-6x"></i>
                  </div>
                  <br/>
                  <div class="card-img-overlay">
                  </div>
                  <span class="btn btn-block badge badge-secondary text-uppercase">Datatables</span>
                </div>
              </a>
            </div> 

            <div class="col col-lg">
              <a href="/student/paginate">
                <div class="card">
                    <br/>
                    <div align="center">
                        <i class="fas fa-pager fa-6x"></i>
                    </div>
                    <br/>
                  <div class="card-img-overlay">
                  </div>
                  <span class="btn btn-block badge badge-secondary text-uppercase">Django Pagination</span>
                </div>
              </a>
            </div> 

            <div class="col col-lg">
              <a href="/weather">
                <div class="card">
                  <br/>
                  <div align="center">
                      <i class="fas fa-cloud fa-6x"></i>
                  </div>
                  <br/>
                  <div class="card-img-overlay">
                  </div>
                  <span class="btn btn-block badge badge-secondary text-uppercase">Weather App</span>
                </div>
              </a>
            </div>  
</div>
<div class="row mt-3">
  <div class="col col-lg">
              <a href="/ecommerce">
                <div class="card">
                  <br/>
                  <div align="center">
                      <i class="fas fa-shopping-cart fa-6x"></i>
                  </div>
                  <br/>
                  <div class="card-img-overlay">
                  </div>
                  <span class="btn btn-block badge badge-secondary text-uppercase">Ecommerce</span>
                </div>
              </a>
            </div> 
    <div class="col col-lg">
    </div>
    <div class="col col-lg">
    </div>
    <div class="col col-lg">
    </div>
</div>
{% endblock %}