{% extends 'theme-admin.html' %}

{% block body_css %}
<link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block body_content %}
<h1> Students - Django Paginator Implementation </h1>

<table id="studentList" class="table table-responsive table-striped table-bordered" style="width:100%">
<thead>
    <tr>
        <td>Roll Number</td>
        <td>Name</td>
        <td>Address</td>
    </tr>
</thead>
<tbody>
{% for student in students %}
    <tr>
        <td>{{student.roll_number}}</td>
        <td>{{student.full_name}}</td>
        <td>{{student.address}}</td>
    </tr>
{% endfor %}
</tbody>
</table>

<nav aria-label="...">
  <ul class="pagination">
   {% if students.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{students.previous_page_number}}" tabindex="-1">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    {% endif %}

{% for i in students.paginator.page_range %}
    {% if students.number == i %}
    <li class="page-item active">
      <a class="page-link" href="#">{{i}} <span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% endif %}

{% endfor %}

<!--
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
-->
    {% if students.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{students.next_page_number}}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}